<div class="banner" , url(<%#= image_path 'main.jpg' %>);">
  <div class="container">
    <h1>Welcome to Waxx!</h1>
    <p>An Exclusive Community for Record & Music Lovers!</p>
    <p>Curate your Collection</p>
    <p>Build a Wishlist</p>
    <p>Find Shops & Venues</p>
    <a href="/main" class="btn btn-info" role="button">Let's Start Diggin'</a>
    <div class="animation">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/410555d8-a6dc-4f49-88aa-665c416844bb/AGdScfOgvt.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px; transform: scaleX(-1);"  loop controls autoplay direction="1" loop autoplay controls="false" mode="normal"></lottie-player>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/33ba16a2-d65d-4869-9039-433608bddcc4/h7ejISE0dp.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop controls autoplay direction="1" mode="normal"></lottie-player>
    </div>

  </div>
</div>
