<div class="banner" , url(<%#= image_path 'main.jpg' %>);>
  <div class="container">
    <h1>Waxx</h1>
    <p>An Exclusive Community for Record & Music Lovers!</p>
    <p>Curate your Collection</p>
    <p>Build a Wishlist</p>
    <p>Find Shops & Venues</p>
    <a href="/main" class="btn btn-info d-flex justify-content-center"  style="width:200px" role="button">Let's Start Diggin'</a>
  </div>
</div>
