<div class="searchbar">
  <h1>Find your People and Places!</h1>
  <%= simple_form_for :search, url: main_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>
<div class="main_container mt-3 mx-3 d-flex align-content-center">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shop</h5>
        <p class="card-text">Shop Address</p>
        <button type="button" class="btn btn-primary btn-sm">View Map</button>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shop</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <button type="button" class="btn btn-primary btn-sm">View Map</button>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Some fucking place</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <button type="button" class="btn btn-primary btn-sm">View Map</button>
      </div>
    </div>
  </div>
  <div class="map">
    <p>mappppppppppppppppppppppppppppppppppppppppppppppppppp</p>
  </div>
</div>
